body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

/** =========== HEADER ============== */

.page-header {
  font-size: 16px;
  font-style: normal;

  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  letter-spacing: 0.54px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.17;
  padding: 24px 0;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}

.page-nav {
  list-style: none;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.32px;
  line-height: 1.5;
  display: flex;
  gap: 40px;
}
.address {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contakts {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style: none;
  display: flex;
  gap: 40px;
}

.studio-item {
  text-decoration: none;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
}
.studio-item:hover,
.studio-item:focus {
  color: #404bbf;
}

.contakt {
  text-decoration: none;
  color: #434455;
}
.contakt:hover,
.contakt:focus {
  color: #404bbf;
}

/** ============================== */

/** =========== MAIN============== */

.section-name {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: url();
}
.advantages-container {
}
.title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  font-weight: 500;
  margin: 0 auto;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  margin-top: 48px;
  display: block;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/** =========== ADVANTAGES============ */

.section-advantages {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages {
  list-style: none;
  display: flex;
  gap: 24px;

  border-radius: 0px 0px 4px 4px;
}
.advantages-li {
  width: calc((100% - 72px) / 4);
}
.advantages-subtitle {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.about-advantages {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
/** ============================== */

/** =========== TEAM============ */

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-container {
}
.title-team {
  margin-bottom: 72px;
}
.team-img {
}
.title-what {
  font-size: 36px;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.teams {
  background-color: #ffffff;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}
.about-team {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
}
.team {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.employee {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.employee-li {
  width: calc((100% - 72px) / 4);
}
.team-works {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
/** ============================== */

/** ===========PORTFOLIO============ */

.portfolio {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: navy;
}

.title-portfolio {
  margin-bottom: 72px;
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-li {
  width: calc((100% - 48px) / 3);
}

.portfolio-img {
}
.subtitle-portfolio {
  margin-bottom: 8px;
  list-style: none;
  display: flex;
  gap: 24px;
}
.about-portfolio {
}

/** ============================== */

/** ===========FOOTER============ */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-contagner {
}
.webstudio {
  justify-content: center;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
}
.logot {
  color: #f4f4fd;
}
.result {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/** ============================== */
